EC_Solution/WebAppEC/Web References/br.com.webint.www/ServicoGatewayPagamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webint.com.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.webint.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webint.com.br/">
      <s:element name="validarCartao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNomeImpresso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumeroCartao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strVencimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodSeguranca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dblValor" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="intParcelas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarCartaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarCartaoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarCartaoSoapIn">
    <wsdl:part name="parameters" element="tns:validarCartao" />
  </wsdl:message>
  <wsdl:message name="validarCartaoSoapOut">
    <wsdl:part name="parameters" element="tns:validarCartaoResponse" />
  </wsdl:message>
  <wsdl:portType name="CGatewayPagamentoSoap">
    <wsdl:operation name="validarCartao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna o um booleano (true/false) que indica se o cartão é adequado e está dentro do limitepara aprovação</wsdl:documentation>
      <wsdl:input message="tns:validarCartaoSoapIn" />
      <wsdl:output message="tns:validarCartaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CGatewayPagamentoSoap" type="tns:CGatewayPagamentoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarCartao">
      <soap:operation soapAction="http://www.webint.com.br/validarCartao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CGatewayPagamentoSoap12" type="tns:CGatewayPagamentoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarCartao">
      <soap12:operation soapAction="http://www.webint.com.br/validarCartao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CGatewayPagamento">
    <wsdl:port name="CGatewayPagamentoSoap" binding="tns:CGatewayPagamentoSoap">
      <soap:address location="http://www.webint.com.br/WS/ServicoGatewayPagamento.asmx" />
    </wsdl:port>
    <wsdl:port name="CGatewayPagamentoSoap12" binding="tns:CGatewayPagamentoSoap12">
      <soap12:address location="http://www.webint.com.br/WS/ServicoGatewayPagamento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>